
@{
    var localdata = "";
}
@functions{

    public string IncludeData = "Include Data";
    public string IncludeFunction()
    {
        return "it is included function";
    }

}
<div>Include file</div>