/*config
     OutPutFile=Out\data.html
     InputDllFolder=lib

*/
@using System.Data.SqlClient
@using Microsoft.SqlServer.Management.Common
@using Microsoft.SqlServer.Management.Smo

@{

var connectionString ="Data Source=.\\sqlexpress;Initial Catalog=HealthInfo;Persist Security Info=True;User ID=trieu;Password=123456";
var DbName = "HealthInfo";
var server = new Server(new ServerConnection(new SqlConnection(connectionString)));
Database db = new Database(server, DbName);
db.Refresh();
}
<html>
<body>
<div>
    @foreach (Table table in db.Tables)
    {
        <div>
            @table.Name
            <ul>
                @foreach (Column col in table.Columns)
                {
                    <li>@col.Name</li>
                }
            </ul>
        </div>
    }
</div>
</body>
</html>
